@import '../../../styles/abstracts';

.headerContainer {
  height: rem(100);
  position: fixed;
  width: 100%;

  & > header {
    background-color: darken($brand, 5%);
    background-image: none;
    box-shadow: none;
    height: rem(60);
  }

  button {
    min-width: rem(45);
  }
}

.headerLogoContainer {
  align-items: center;
  display: flex;

  & > * + * {
    margin-left: rem(8);
  }
}

.headerNavContainer {
  font-size: rem(12);

  & > * + * {
    margin-left: rem(8);
  }

  @media (min-width: $breakpoint-medium) {
    font-size: inherit;
  }
}
