@import '../../../styles/abstracts';

.headerContainer {
  & > * {
    background-color: darken($brand, 5%);
    background-image: none;
    box-shadow: none;
  }

  time {
    font-size: rem(12);
    margin-right: rem(16);
  }

  button {
    min-width: rem(45);
  }

  @media (min-width: $breakpoint-medium) {
    time {
      font-size: rem(16);
    }
  }
}
