html,
body,
main,
#root {
  height: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: $brand;
  color: $white;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: rem(16);
}

input[type='text'],
input[type='password'],
input[type='number'],
textarea {
  background-color: $brand;
}

p {
  margin-top: rem(16);
}
