$root-font-size: 16;

$brand: #212a3b;
$brand-secondary: #2c3446;
$pink: #ff5794;
$white: #ffffff;

$breakpoint-small: 576px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1024px !default;

$site-width: 1224;
