@import '../../styles/abstracts';

.LoginFormContainer {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;

  form {
    margin: rem(25 0);
    width: rem(320);

    & > * {
      width: 100%;
    }

    & > * + * {
      margin-top: rem(16);
    }
  }
}

.LoginFormHeading {
  align-items: center;
  display: flex;
  font-size: rem(28);
  font-weight: 600;
  justify-content: center;

  svg {
    margin: rem(0 4);
    font-size: rem(50);
  }
}

.LoginFormButton {
  background-color: $pink;

  &:focus,
  &:hover {
    background-color: $darkPink;
  }
}
